:root {
	--driven--layout-spacing: 1.5rem;
}

@media only screen and (min-width: 640px) {
	:root {
		--driven--layout-spacing: 2rem;
	}
}

@media only screen and (min-width: 960px) {
	:root {
		--driven--layout-spacing: 3rem;
	}
}

@media only screen and (min-width: 1280px) {
	:root {
		--driven--layout-spacing: 4rem;
	}
}

.site-content,
.sidebar.wp-block-group > * + * {
	margin-top: var(--driven--layout-spacing);
}
