/* Main Navigation */
.is-style-main-navigation {
	.wp-block-navigation__responsive-container:not(.is-menu-open) {
		.wp-block-navigation__container {
			gap: 0 1rem;

			> .wp-block-navigation-item {
				> .wp-block-navigation-item__content {
					padding: 2rem 0.5rem;
				}

				.wp-block-navigation__submenu-icon {
					margin-left: 0;
					margin-top: 0.1rem;
					width: 15px;
					height: 15px;
				}

				> .wp-block-navigation__submenu-container {
					left: auto;
					right: 0;
					border-top: 1px solid #fff;
				}

				.wp-block-navigation__submenu-container {
					padding: 0.75rem 0;
					font-size: var(--wp--preset--font-size--small);
					min-width: 280px !important;

					.wp-block-navigation-item {
						.wp-block-navigation-item__content {
							padding: 0.75rem 1.75rem;
						}

						.wp-block-navigation__submenu-icon {
							margin-right: 1rem;
						}

						.wp-block-navigation__submenu-container {
							border-left: 1px solid #fff;
						}
					}
				}
			}
		}
	}
}
