/* Underlined Heading */
.is-style-underlined-heading {
	position: relative;
	margin-bottom: 0.75em !important;
	padding-bottom: 0.75em;

	&::before {
		display: inline-block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 1.5em;
		height: 4px;
		content: "";
		background-color: var(--wp--preset--color--primary);
	}
}
