input[type="button"],
input[type="reset"],
input[type="submit"] {
	margin: 0;
	padding: calc(0.75rem + 2px) calc(1.25rem + 2px);
	border: none;
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--primary);
	text-decoration: none;
	font-weight: bold;
	font-size: var(--wp--preset--font-size--normal);
	line-height: inherit;
}

input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--secondary);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	padding: 0.3em 0.6em;
	max-width: 100%;
	border: 1px solid #ddd;
	color: #777;
	background: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	border: 1px solid #aaa;
	color: #111;
	outline: none;
}

textarea {
	overflow: auto;
	width: 100%;
}
