hr {
	margin-top: var(--wp--custom--spacing--elements);
	margin-bottom: var(--wp--custom--spacing--elements);
	height: 1px;
	border: none;
	background-color: var(--wp--preset--color--black);
	box-sizing: content-box;
}
