p {
	margin-top: var(--wp--custom--spacing--elements);
	margin-bottom: var(--wp--custom--spacing--elements);
}

p.has-background {
	padding: 1.25rem 1.5rem;
}

mark.has-inline-color.has-background-color {
	padding: 2px 5px;
}
