<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"section","backgroundColor":"light-background","className":"site-content","layout":{"contentSize":"1200px"}} -->
<section class="wp-block-group site-content has-light-background-background-color has-background">
	
	<!-- wp:group {"tagName":"main"} -->
	<main class="wp-block-group">
		
		<!-- wp:post-content /-->

	</main>
	<!-- /wp:group -->

</section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
