/* Navigation Block */
.wp-block-navigation {
	.wp-block-navigation__container {
		gap: 1rem;

		.wp-block-navigation-item {
			.wp-block-navigation-item__content {
				padding: 0.5rem;
			}

			.wp-block-navigation-item__content,
			.wp-block-navigation__submenu-icon {
				&:hover,
				&:focus,
				&:active {
					opacity: 0.6;
				}
			}

			.wp-block-navigation__submenu-container {
				padding: 1rem;
			}
		}
	}
}
