/* Navigation Block */
.wp-block-navigation {

	.wp-block-navigation__container {
		gap: 1rem;

		.wp-block-navigation-item {
			.wp-block-navigation-item__content {
				padding: 0.5rem;

				&:hover,
				&:focus,
				&:active {
					text-decoration: underline;
				}
			}

			.wp-block-navigation__submenu-icon {
				margin-left: 0;
				margin-top: 0.2rem;
			}

			.wp-block-navigation__submenu-container {
				padding: 1rem;
			}

			&.current-menu-item {
				.wp-block-navigation-item__content {
					text-decoration: underline;
				}
			}
		}
	}

	button:hover,
	button:focus,
	button:active {
		background: none;
	}
}
