/* Post Title Block */
.wp-block-post-title {
	a {
		text-decoration: none;
		color: var(--wp--preset--color--black);

		&:hover,
		&:focus,
		&:active {
			color: var(--wp--preset--color--primary);
			text-decoration: underline;
		}
	}
}
