/* Post Excerpt Block */
.wp-block-post-excerpt {
	.wp-block-post-excerpt__more-text {
		margin-bottom: 0;

		a {
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				text-decoration: underline;
			}
		}
	}
}
