/* Post Excerpt Block */
.wp-block-post-excerpt {
	.wp-block-post-excerpt__more-text {
		margin-bottom: 0;

		.wp-block-post-excerpt__more-link {
			margin: 0;
			padding: calc(0.75rem + 2px) calc(1.25rem + 2px);
			border: none;
			color: var(--wp--preset--color--white);
			background-color: var(--wp--preset--color--primary);
			text-decoration: none;
			font-weight: bold;
			font-size: var(--wp--preset--font-size--normal);

			&:hover,
			&:focus,
			&:active {
				color: var(--wp--preset--color--white);
				background-color: var(--wp--preset--color--secondary);
			}
		}
	}
}
