/* Query Pagination Block */
.wp-block-query-pagination {

	> .wp-block-query-pagination-numbers {
		margin-bottom: 0;
	}

	.page-numbers {
		display: inline-block;
		font-weight: bold;
		margin-right: 1.5rem;
	}
}
